.contacts-form {
  padding: 40px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.contacts-form label {
  margin-bottom: 5px;
}
.contacts-form input:nth-child(2) {
  margin-bottom: 20px;
}
.contacts-form button {
  margin-top: calc(20px + 15px);
}
